.App {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

.login-logo {
  height: 10vmin;
  pointer-events: none;
  color: #6b46c1;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6b46c1;
  text-shadow: 0 0 3px #000;
}

.chakra-input {
  margin-bottom: 5px;
}

.chakra-select {
  margin-bottom: 5px;
}

.chakra-table th {
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-size: x-small;
}

.header-link {
  font-size: x-large;
  text-shadow: 0 0 3px #000;
}

.header-logo {
  color: #6b46c1;
  margin-right: 8px;
}

.header {
  background-color: #282c34;
}

.Content {
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: #6b46c1 #282c34;
  /* Works on Firefox */
  overflow-x: auto;
  height: 100vh;
}

/* Works on Chrome, Edge, and Safari */
.Content::-webkit-scrollbar {
  width: 12px;
}

.Content::-webkit-scrollbar-track {
  background: #484b51;
}

.Content::-webkit-scrollbar-thumb {
  background-color: #6b46c1;
  border-radius: 20px;
  border: 3px solid #484b51;
}

/* For all <code> */
code {
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: #868686;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
